@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #fffafa;
}

html{
    scroll-behavior: smooth;
}
  
/*cabecalho*/
  .cabecalho{
    background-color: #3065ac;
    min-height: 10vh;
}

.cabecalho-img {
    width: 5%;
    max-width: 700px;
    margin: 30px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.logo-responsive{
    display: none;

}

.header-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-menu {
    display: flex;
    gap: 60px;
}

.cabecalho-menu-item {
    color: #ffffff;
    font-weight: 400px;
    font-size: max(16px, 1.5vw);
}

.cabecalho-menu-item:hover {
    opacity: 1;
    text-decoration: underline;
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
}

  .main-container {

    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #ffffff;
    background-color: #3065ac  ;
    border-radius: 10px;
    width: 70vw;
    max-width: 600px;
    margin: 20vh;

  }

  #form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
  
#title {
    display: flex;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
  form {
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .form-group label {
    font-weight: 500;
    font-size: 1.1rem;
    color: #ffffff;
  }

  .input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
}

.input-field span,
.input-field i  {
    color: #ffffff;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}

.input-field select{
    color: #c79709 ;
    background-color: #3f3f46;
    border: none;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
    width: 100%;
}

.input-field input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #ffffff;
    padding: 0 0.5rem;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
  appearance: none;
}

.input-field input:focus,
.input-field select:focus {
    outline: none;
}
  
  button {
    border: none;
    font-size: 2.25rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #c79709 ;;
    padding: 1.5rem 0;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
  }

  #result {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.75rem 0;
}

  footer {
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3065ac;
    color: #ffffff;
    padding: 20px;
    font-size: 0.7rem;
  }

  #results {
   margin: 0;
  }
  
  .result-group {
    margin-bottom: 0.625rem; 
  }
  
  .result-label {
    display: inline-block;
    width: 9.375rem; 
    font-weight: bold;
  }
  
  .result-value {
    display: inline-block;
    font-weight: bold;
  }
  

 /*responsividade*/

@media (max-width: 768px) {

  .header-items{
      display: none;
  }

  header .top{
      display: none;
  }

  .menu-responsive{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .logo-responsive{
      display: flex;
      max-width: 700px;
      width: 7%;
      margin: 30px;
      box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  
  }

  .one,
  .two,
  .three {
      background-color: #fff;
      height: 2px;
      width: 60%;
      margin: 5px auto;
      transition-duration: 0.3s;
  }

  .menu-toggle{
      width: 40px;
      height: 30px;
  }

  .cabecalho .menu-toggle{
      position: absolute;
      right: -4vw;
      margin-right: 10vw;
      top: 3vh;
  }

  .input-field select{
    font-size: 1rem;
}

.input-field span,
.input-field i  {
    padding: 0;
}

  /*fullscren*/

  .logo-responsive.off{
      opacity: 0%;
  }

  .container.on{
      margin-top: 120vh;
  }


  .cabecalho.on{
      position: absolute;
      top: 0;
      left: 0;

      width: 100vw;
      height: 100vh;

      z-index: 10;
      justify-content: center;
      align-items: center;
  }

  .cabecalho.on .header-items{
      display: flex;
      flex-direction: column;
      margin-top: 25vh;
  }

  .cabecalho.on .cabecalho-menu{
      display: flex;
      flex-direction: column;
      line-height: 1rem;
      text-align: center;
  }

  .cabecalho-menu-item{
      font-size: 5vw;
  }

  .cabecalho.on .menu-toggle{
      position: absolute;
      right: -4vw;
      margin-right: 10vw;
      top: 3vh;
  }

  .cabecalho.on .menu-toggle .one{
      transform: rotate(45deg) translate(7px, 7px);
  }

  .cabecalho.on .menu-toggle .two{
      opacity: 0;
  }

  .cabecalho.on .menu-toggle .three{
      transform: rotate(-45deg) translate(3px, -4px);
  }

  .cabecalho.on .cabecalho-img{
      width: 10%;
  }

}

@media screen and (max-width: 500px) {

}